<p id="notice"><%= notice %></p>

<h1>Geeks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hobby</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @geeks.each do |geek| %>
      <tr>
        <td><%= geek.name %></td>
        <td><%= geek.hobby %></td>
        <td><%= link_to 'Show', geek %></td>
        <td><%= link_to 'Edit', edit_geek_path(geek) %></td>
        <td><%= link_to 'Destroy', geek, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Geek', new_geek_path %>
